In [48]:
import pandas as pd

# Load your dataset
df = pd.read_csv('ML_data_clean_v5.csv')

In [2]:
df.head()

,Agency Type,State,Month,Victim Sex,Victim Age,Victim Race,Victim Ethnicity,Perpetrator Sex,Perpetrator Race,Perpetrator Ethnicity,Weapon Category,Relationship Category,Agency_Type_grouped
0,State Police,Alaska,November,Female,26,Native American/Alaska Native,Not Hispanic,Male,Native American/Alaska Native,Not Hispanic,Non-Firearm,Lover,Other Police
1,Sheriff,Alabama,July,Male,23,Black,Not Hispanic,Male,Black,Not Hispanic,Firearm,Acquaintance,Sheriff
2,Sheriff,Alabama,July,Male,42,White,Not Hispanic,Female,White,Not Hispanic,Firearm,Lover,Sheriff
3,Sheriff,Alabama,July,Male,33,Black,Not Hispanic,Male,Black,Not Hispanic,Firearm,Acquaintance,Sheriff
4,Sheriff,Alabama,September,Male,46,White,Not Hispanic,Male,White,Not Hispanic,Firearm,Family,Sheriff

In [49]:

# Mapping of months to seasons
def month_to_season(month):
    if month in ['December', 'January', 'February']:
        return 'Winter'
    elif month in ['March', 'April', 'May']:
        return 'Spring'
    elif month in ['June', 'July', 'August']:
        return 'Summer'
    elif month in ['September', 'October', 'November']:
        return 'Autumn'

# Apply month_to_season to the 'Month' column (replace 'Month' with your column name)
df['Season'] = df['Month'].apply(month_to_season)

state_to_region = {
    # East Coast
    'Maine': 'East Coast', 'New Hampshire': 'East Coast', 'Vermont': 'East Coast',
    'Massachusetts': 'East Coast', 'Rhodes Island': 'East Coast', 'Connecticut': 'East Coast',
    'New York': 'East Coast', 'New Jersey': 'East Coast', 'Delaware': 'East Coast',
    'Maryland': 'East Coast', 'Virginia': 'East Coast', 'North Carolina': 'East Coast',
    'South Carolina': 'East Coast', 'Georgia': 'East Coast', 'Florida': 'East Coast',
    'District of Columbia': 'East Coast', 'Pennsylvania': 'East Coast',
    
    # Midwest
    'Ohio': 'Midwest', 'Indiana': 'Midwest', 'Illinois': 'Midwest',
    'Michigan': 'Midwest', 'Wisconsin': 'Midwest', 'Minnesota': 'Midwest',
    'Iowa': 'Midwest', 'Missouri': 'Midwest', 'North Dakota': 'Midwest',
    'South Dakota': 'Midwest', 'Nebraska': 'Midwest', 'Kansas': 'Midwest',
    
    # West Coast
    'California': 'West Coast', 'Oregon': 'West Coast', 'Washington': 'West Coast',
    'Alaska': 'West Coast', 'Hawaii': 'West Coast',
    
    # South
    'Texas': 'South', 'Oklahoma': 'South', 'Arkansas': 'South',
    'Louisiana': 'South', 'Mississippi': 'South', 'Alabama': 'South',
    'Tennessee': 'South', 'Kentucky': 'South', 'West Virginia': 'South',
    'Virginia': 'South', 'North Carolina': 'South', 'South Carolina': 'South',
    'Georgia': 'South', 'Florida': 'South',
    
    # Mountain West
    'Montana': 'Mountain West', 'Wyoming': 'Mountain West', 'Colorado': 'Mountain West',
    'New Mexico': 'Mountain West', 'Idaho': 'Mountain West', 'Utah': 'Mountain West',
    'Nevada': 'Mountain West', 'Arizona': 'Mountain West',
    
    # Pacific Northwest
    'Washington': 'Pacific Northwest', 'Oregon': 'Pacific Northwest', 'Idaho': 'Pacific Northwest',
    
    # Territories
    'Puerto Rico': 'Territory', 'Guam': 'Territory', 'American Samoa': 'Territory',
    'U.S. Virgin Islands': 'Territory', 'Northern Mariana Islands': 'Territory',
}


# Apply state_to_region to the 'State' column (replace 'State' with your column name)
df['Region'] = df['State'].map(state_to_region)

df = df.drop(columns=['State','Month'])

# Save the updated dataset if needed
df.to_csv('updated_dataset.csv', index=False)

In [50]:
# Load your dataset
df_2 = pd.read_csv('master_data_clean.csv')
df_2.head()

,Agency Type,Victim Sex,Victim Age,Victim Race,Victim Ethnicity,Perpetrator Sex,Perpetrator Race,Perpetrator Ethnicity,Weapon Category,Relationship Category,Agency_Type_grouped,Season,Region
0,State Police,Female,26,Native American/Alaska Native,Not Hispanic,Male,Native American/Alaska Native,Not Hispanic,Non-Firearm,Lover,Other Police,Autumn,West Coast
1,Sheriff,Male,23,Black,Not Hispanic,Male,Black,Not Hispanic,Firearm,Acquaintance,Sheriff,Summer,South
2,Sheriff,Male,42,White,Not Hispanic,Female,White,Not Hispanic,Firearm,Lover,Sheriff,Summer,South
3,Sheriff,Male,33,Black,Not Hispanic,Male,Black,Not Hispanic,Firearm,Acquaintance,Sheriff,Summer,South
4,Sheriff,Male,46,White,Not Hispanic,Male,White,Not Hispanic,Firearm,Family,Sheriff,Autumn,South