In [193]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [195]:
cr = pd.read_csv('ML_data_clean_v5.csv')

In [197]:
columns = ['State','Month','Victim Sex','Victim Age','Victim Race','Victim Ethnicity','Perpetrator Sex','Perpetrator Race','Perpetrator Ethnicity','Relationship Category','Agency_Type_grouped','Weapon Category']

In [199]:
cr = pd.DataFrame(cr, columns=columns)

In [201]:
cr.head()

,State,Month,Victim Sex,Victim Age,Victim Race,Victim Ethnicity,Perpetrator Sex,Perpetrator Race,Perpetrator Ethnicity,Relationship Category,Agency_Type_grouped,Weapon Category
0,Alaska,November,Female,26,Native American/Alaska Native,Not Hispanic,Male,Native American/Alaska Native,Not Hispanic,Lover,Other Police,Non-Firearm
1,Alabama,July,Male,23,Black,Not Hispanic,Male,Black,Not Hispanic,Acquaintance,Sheriff,Firearm
2,Alabama,July,Male,42,White,Not Hispanic,Female,White,Not Hispanic,Lover,Sheriff,Firearm
3,Alabama,July,Male,33,Black,Not Hispanic,Male,Black,Not Hispanic,Acquaintance,Sheriff,Firearm
4,Alabama,September,Male,46,White,Not Hispanic,Male,White,Not Hispanic,Family,Sheriff,Firearm

In [203]:
cr.isnull().sum()

State                    0
Month                    0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship Category    0
Agency_Type_grouped      0
Weapon Category          0
dtype: int64

In [171]:
# cr.drop('Agency Type',axis='columns', inplace=True)

In [205]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153532 entries, 0 to 153531
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  153532 non-null  object
 1   Month                  153532 non-null  object
 2   Victim Sex             153532 non-null  object
 3   Victim Age             153532 non-null  int64
 4   Victim Race            153532 non-null  object
 5   Victim Ethnicity       153532 non-null  object
 6   Perpetrator Sex        153532 non-null  object
 7   Perpetrator Race       153532 non-null  object
 8   Perpetrator Ethnicity  153532 non-null  object
 9   Relationship Category  153532 non-null  object
 10  Agency_Type_grouped    153532 non-null  object
 11  Weapon Category        153532 non-null  object
dtypes: int64(1), object(11)
memory usage: 14.1+ MB

In [207]:
# list columns to convert to categorical
categ_columns = ['State','Month','Victim Sex','Victim Race','Victim Ethnicity','Perpetrator Sex','Perpetrator Race','Perpetrator Ethnicity','Relationship Category','Agency_Type_grouped','Weapon Category']

# convert columns to categorical
cr[categ_columns] = cr[categ_columns].astype('category')

In [209]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153532 entries, 0 to 153531
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  153532 non-null  category
 1   Month                  153532 non-null  category
 2   Victim Sex             153532 non-null  category
 3   Victim Age             153532 non-null  int64
 4   Victim Race            153532 non-null  category
 5   Victim Ethnicity       153532 non-null  category
 6   Perpetrator Sex        153532 non-null  category
 7   Perpetrator Race       153532 non-null  category
 8   Perpetrator Ethnicity  153532 non-null  category
 9   Relationship Category  153532 non-null  category
 10  Agency_Type_grouped    153532 non-null  category
 11  Weapon Category        153532 non-null  category
dtypes: category(11), int64(1)
memory usage: 2.8 MB

In [115]:
#cr_categ = ['State','Month','Victim  Sex','Victim Race','Victim Ethnicity','Perpetrator Sex','Perpetrator Race','Perpetrator Ethnicity','Relationship Category','Agency_Type_grouped','Weapon Category']

In [211]:
unknown_counts = cr[categ_columns].apply(lambda col: col.str.contains('Unknown', case=False, na=False).sum())

In [213]:
unknown_counts

State                     0
Month                     0
Victim Sex                2
Victim Race               0
Victim Ethnicity          0
Perpetrator Sex          20
Perpetrator Race          0
Perpetrator Ethnicity     0
Relationship Category     0
Agency_Type_grouped       0
Weapon Category           0
dtype: int64

In [215]:
# remove unknown observations
cr_clean = cr[~cr.apply(lambda row: row.astype(str).str.contains('Unknown', case=False, na=False).any(), axis=1)]
# axis=1: Ensures the apply function works row by row.
# 'astype(str)'
## converts each row's values to strings with astype(str) to handle mixed types safely
### I was getting 'can only use.str accessor with string values' error.
### this error occurs because some of the values in the dataframe are not strings (e.g numbers of NaN).
## checks each value in the row for 'Unknown' using .str.contains.
# 'apply with lambda col:' 
## checks each column for the presence of 'Unkown' using str.contains('Unknown')
## any() returns True if 'Unknown' is found in the column.
# condition negation with '~'
## selects all columns where the condition (~ negates the True values) is False, i.e. columns without 'Unknown'.
## only columns without 'Unknown' values are retained in the cr_clean DataFrame

In [221]:
unknown_counts = cr_clean[categ_columns].apply(lambda col: col.str.contains('Unknown', case=False, na=False).sum())
unknown_counts

State                    0
Month                    0
Victim Sex               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship Category    0
Agency_Type_grouped      0
Weapon Category          0
dtype: int64

In [223]:
cr_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153511 entries, 0 to 153531
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  153511 non-null  category
 1   Month                  153511 non-null  category
 2   Victim Sex             153511 non-null  category
 3   Victim Age             153511 non-null  int64
 4   Victim Race            153511 non-null  category
 5   Victim Ethnicity       153511 non-null  category
 6   Perpetrator Sex        153511 non-null  category
 7   Perpetrator Race       153511 non-null  category
 8   Perpetrator Ethnicity  153511 non-null  category
 9   Relationship Category  153511 non-null  category
 10  Agency_Type_grouped    153511 non-null  category
 11  Weapon Category        153511 non-null  category
dtypes: category(11), int64(1)
memory usage: 4.0 MB

In [225]:
cr_clean.describe()

          Victim Age
count  153511.000000
mean       34.164281
std        16.683487
min         1.000000
25%        23.000000
50%        31.000000
75%        42.000000
max        99.000000

In [229]:
cr_clean.to_csv('ML_REVISED_V6_noyear_nounknowns.csv', index=False)